.card
  .word {{ vocabulary.currentWord[vocabulary.state] }}
  .statistic 
    .qty Guessed {{vocabulary.guessedQty}}
    .qty Not Guessed {{vocabulary.notGuessedQty}}

.container.buttons
  .buttons-title {{ questions[vocabulary.state] }}
  .row(v-if="vocabulary.state==0")
    .fullwidth
      button.open(@click="open") Open
  .row(v-else)
    .left
      button.no(@click="no") No
    .right
      button.yes(@click="yes") Yes
      