doctype html
html
  head
    link(rel="stylesheet" href="../styles/sass/style.sass")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")

  body
    //- we need .wpapper just to bind Vue instance to it
    //- (binding to the body element is discouraged)
    .wrapper(v-cloak)
      include card.pug

    script(src="../scripts/main.ts")
